{%- comment -%}
snippets/addresses-form-fields.liquid
---
Used by all address forms in templates/customers/addresses.liquid. 
Highly coupled to Shopify scripts so review documentation before restructuring.

@shopify/theme-addresses
https://github.com/Shopify/theme-scripts/blob/master/packages/theme-addresses/README.md
{%- endcomment -%}

<div class="field">
  <label for="AddressFirstName_{{ form_id }}">{{ 'customer.addresses.first_name' | t }}</label>
  <input 
    type="text"
    name="address[first_name]"
    id="AddressFirstName_{{ form_id }}"
    value="{{ form.first_name }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressLastName_{{ form_id }}">{{ 'customer.addresses.last_name' | t }}</label>
  <input 
    type="text"
    name="address[last_name]"
    id="AddressLastName_{{ form_id }}"
    value="{{ form.last_name }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressCompany_{{ form_id }}">{{ 'customer.addresses.company' | t }}</label>
  <input 
    type="text"
    name="address[company]"
    id="AddressCompany_{{ form_id }}"
    value="{{ form.company }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressAddress1_{{ form_id }}">{{ 'customer.addresses.address1' | t }}</label>
  <input 
    type="text"
    name="address[address1]"
    id="AddressAddress1_{{ form_id }}"
    value="{{ form.address1 }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressAddress2_{{ form_id }}">{{ 'customer.addresses.address2' | t }}</label>
  <input 
    type="text"
    name="address[address2]"
    id="AddressAddress2_{{ form_id }}"
    value="{{ form.address2 }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressCity_{{ form_id }}">{{ 'customer.addresses.city' | t }}</label>
  <input 
    type="text"
    name="address[city]"
    id="AddressCity_{{ form_id }}"
    value="{{ form.city }}"
    autocapitalize="words"
  >
</div>

<div class="field">
  <label for="AddressCountry_{{ form_id }}">{{ 'customer.addresses.country' | t }}</label>
  <select
    name="address[country]"
    id="AddressCountry_{{ form_id }}"
    class="address-country-option"
    data-form-id="{{ form_id }}"
    data-default="{% if default_country_code -%} {{- default_country_code -}} {%- else -%} {{- address.country_code -}} {%- endif %}"
  >
  </select>
</div>

<div class="field">
  <label for="AddressProvince_{{ form_id }}">{{ 'customer.addresses.province' | t }}</label>
  <select
    name="address[province]"
    id="AddressProvince_{{ form_id }}"
    data-default="{{ address.province_code }}"
  >
  </select>
</div>

<div class="field">
  <label for="AddressZip_{{ form_id }}">{{ 'customer.addresses.zip' | t }}</label>
  <input 
    type="text"
    name="address[zip]"
    id="AddressZip_{{ form_id }}"
    value="{{ form.zip }}"
    autocapitalize="characters"
  >
</div>

<div class="field">
  <label for="AddressPhone_{{ form_id }}">{{ 'customer.addresses.phone' | t }}</label>
  <input 
    type="tel"
    name="address[phone]"
    id="AddressPhone_{{ form_id }}"
    value="{{ form.phone }}"
    pattern="[0-9\-]*"
  >
</div>