<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" style="font-size:10px; line-height:1.4;">
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="/">
        <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    {%- assign is_diy_category = false -%}
    {%- if metaobject and metaobject.type == 'diy_project_category' -%}
      {%- assign is_diy_category = true -%}
    {%- elsif template.name == 'metaobject' and metaobject and metaobject.type == 'diy_project_category' -%}
      {%- assign is_diy_category = true -%}
    {%- elsif request.path contains '/diy-project-category/' -%}
      {%- assign is_diy_category = true -%}
    {%- endif -%}
    
    {%- if is_diy_category -%}
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/pages/diy-projects" title="DIY Projects" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="/pages/diy-projects">
          <span itemprop="name">DIY PROJECTS</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ request.path }}">
          {%- assign final_category_title = passed_category_title -%}
          {%- if final_category_title == blank -%}
            {%- if metaobject -%}
              {%- if metaobject.display_name != blank -%}
                {%- assign final_category_title = metaobject.display_name -%}
              {%- else -%}
                {%- for field in metaobject.fields -%}
                  {%- if field.key == 'title' -%}
                    {%- assign final_category_title = field.value -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              {%- if final_category_title == blank -%}
                {%- assign final_category_title = metaobject.handle | replace: '-', ' ' | capitalize -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
          {%- if final_category_title == blank -%}
            {%- assign url_parts = request.path | split: '/' -%}
            {%- assign last_part = url_parts | last -%}
            {%- if last_part != blank and last_part != 'diy-project-category' -%}
              {%- assign final_category_title = last_part | replace: '-', ' ' | capitalize -%}
            {%- endif -%}
          {%- endif -%}
          <span itemprop="name">{{ final_category_title | upcase }}</span>
        </span>
        <meta itemprop="position" content="3" />
      </li>
    {%- else -%}
    {%- case template.name -%}

      {%- when 'product' -%}
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{{ collection.url }}">
              <span itemprop="name">{{ collection.title }}</span>
            </a>
            <meta itemprop="position" content="2" />
          {% else %}
            <a href="{{ routes.all_products_collection_url }}" title="{{ collections.all.title }}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{{ routes.all_products_collection_url }}">
              <span itemprop="name">{{ collections.all.title }}</span>
            </a>
            <meta itemprop="position" content="2" />
          {% endif %}
        </li>
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ page.url }}">
            <span itemprop="name">{{ product.title }}</span>
          </span>
          <meta itemprop="position" content="3" />
        </li>

      {%- when 'cart' -%}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ routes.cart_url }}">
            <span itemprop="name">{{ 'cart.general.title' | t }}</span>
          </span>
          <meta itemprop="position" content="2" />
        </li>

      {%- when 'collection' -%}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ collection.url }}">
            <span itemprop="name">{{ collection.title }}</span>
          </span>
          <meta itemprop="position" content="2" />
        </li>

      {%- when 'blog' -%}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ blog.url }}">
            <span itemprop="name">{{ blog.title }}</span>
          </span>
          <meta itemprop="position" content="2" />
        </li>

      {%- when 'article' -%}
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{{ blog.url }}">
            <span itemprop="name">{{ blog.title }}</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ page.url }}">
            <span itemprop="name">{{ article.title }}</span>
          </span>
          <meta itemprop="position" content="3" />
        </li>

      {%- when 'metaobject' -%}
        {%- comment -%} Breadcrumb for metaobject pages {%- endcomment -%}
        {%- if metaobject.type == 'diy_project_category' -%}
          <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/pages/diy-projects" title="DIY Projects" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="/pages/diy-projects">
              <span itemprop="name">DIY PROJECTS</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ request.path }}">
              {%- assign final_category_title = passed_category_title -%}
              {%- if final_category_title == blank -%}
                {%- if metaobject.display_name != blank -%}
                  {%- assign final_category_title = metaobject.display_name -%}
                {%- else -%}
                  {%- for field in metaobject.fields -%}
                    {%- if field.key == 'title' -%}
                      {%- assign final_category_title = field.value -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                {%- if final_category_title == blank -%}
                  {%- assign final_category_title = metaobject.handle | replace: '-', ' ' | capitalize -%}
                {%- endif -%}
              {%- endif -%}
              <span itemprop="name">{{ final_category_title | upcase }}</span>
            </span>
            <meta itemprop="position" content="3" />
          </li>
        {%- else -%}
          <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ request.path }}">
              <span itemprop="name">{{ metaobject.fields.title.value | default: metaobject.handle | upcase }}</span>
            </span>
            <meta itemprop="position" content="2" />
          </li>
        {%- endif -%}

      {%- else -%}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ request.path }}">
            {%- if page.title -%}
              <span itemprop="name">{{ page.title }}</span>
            {%- else -%}
              <span itemprop="name">{{ page_title }}</span>
            {%- endif -%}
          </span>
          <meta itemprop="position" content="2" />
        </li>

    {%- endcase -%}
    {%- endif -%}
  </ol>
</nav>