
<div class="footer__newsletter max-w-[550px] mx-auto">
  <label for="Email" class="h3">{{ 'general.newsletter_form.title' | t }}</label>
  <p>{{ 'general.newsletter_form.description' | t }}</p>

  {% form 'customer', class: 'flex' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
      name="contact[email]"
      id="Email"
      value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
      placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
      autocorrect="off"
      autocapitalize="off">
      <button type="submit" name="commit" id="Subscribe" class="button button--primary">
        <span>{{ 'general.newsletter_form.submit' | t }}</span>
      </button>
    {% endif %}
  {% endform %}
</div>