{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<section class="account space-y-4">
  <div class="container">

    <h1 class="account__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_url }}" class="link flex">{{ 'customer.account.return' | t }}</a>

    <div class="space-y-2">
      <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
      <p>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
      <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>
      <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>
      
      {% if order.cancelled %}
        {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
        <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
      {% endif %}
    </div>

    <table class="order-table responsive-table">
      <thead>
        <tr>
          <th>{{ 'customer.order.product' | t }}</th>
          <th>{{ 'customer.order.sku' | t }}</th>
          <th>{{ 'customer.order.price' | t }}</th>
          <th>{{ 'customer.order.quantity' | t }}</th>
          <th>{{ 'customer.order.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}" class="responsive-table-row">
            <td data-label="{{ 'customer.order.product' | t }}">
              <strong>{{ line_item.title | link_to: line_item.product.url }}</strong>
              {% if line_item.fulfillment %}
                <dl>
                  <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                  <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                  {% if line_item.fulfillment.tracking_url %}
                    <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                    <dd>
                      <a href="{{ line_item.fulfillment.tracking_url }}">
                        {{ 'customer.order.track_shipment' | t }}
                      </a>
                    </dd>
                  {% endif %}

                  <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                  <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                  {% if line_item.fulfillment.tracking_number %}
                    <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                    <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                  {% endif %}
                </dl>
              {% endif %}
            </td>
            <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
            <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
            <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
            <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="responsive-table-row">
          <td colspan="4" class="hidden md:table-cell text-right">{{ 'customer.order.subtotal' | t }}</td>
          <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
        </tr>

        {% for discount in order.discounts %}
          <tr>
            <td colspan="4" class="hidden md:table-cell text-right">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
            <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
          </tr>
        {% endfor %}

        {% for shipping_method in order.shipping_methods %}
          <tr>
            <td colspan="4" class="hidden md:table-cell text-right">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
            <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
          </tr>
        {% endfor %}

        {% for tax_line in order.tax_lines %}
          <tr>
            <td colspan="4" class="hidden md:table-cell text-right">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
            <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
          </tr>
        {% endfor %}

        <tr>
          <td colspan="4" class="hidden md:table-cell text-right uppercase"><strong>{{ 'customer.order.total' | t }}</strong></td>
          <td data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
        </tr>
      </tfoot>
    </table>
    
    <div class="md:flex space-y-3 md:space-y-0">
      <div class="md:basis-1/2">
        <h3>{{ 'customer.order.billing_address' | t }}</h3>
        {{ order.billing_address | format_address }}
      </div>
    
      <div class="md:basis-1/2">
        <h3>{{ 'customer.order.shipping_address' | t }}</h3>
        {{ order.shipping_address | format_address }}
      </div>
    </div>

  </div>
</section>