{% paginate blog.articles by 5 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {%- capture blog_title -%}
      {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
    {%- endcapture -%}
  {% endif %}

  <section class="container">
    <h1>{{ blog_title }}</h1>
  </section>
 

 <aside class="container">
  {% if blog.all_tags.size > 0 %}
    <h2>{{ 'blogs.general.categories' | t }}</h2>

    <ul class="flex space-x-2">
      {% for tag in blog.all_tags %}

        {% if current_tags contains tag %}
          <li>{{ tag }}</li>
        {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endif %}
 </aside>


  {% comment %}

    Article Previews
    ====================
  {% endcomment %}

  <section>
    <div class="container">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for article in blog.articles %}
          {% render 'article-item', article: article %}
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% render 'pagination', paginate: paginate %}
      {% endif %}
    </div>
  </section>

{% endpaginate %}

{% schema %}
  {
    "name": "Blog Main",
    "settings": [
    ]
  }
{% endschema %}