{% layout none %}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  {%- if settings.is_indexing_disabled -%}
    <meta name="robots" content="noindex, nofollow" />
  {%- endif -%}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  {% render 'head__hreflang' %}

  {% render 'head__favicon' %}

  {% render 'head__seo' %}

  {% render 'head__meta-tags' %}

  <script src="{{ 'password.js' | asset_url }}" defer></script>
  
  {{ content_for_header }}

  {% render 'head__fonts' %}

  {{ 'password.css' | asset_url | stylesheet_tag }}

  {% render 'head__scripts' %}
</head>

<body class="template-password">
  <main role="main" id="main-content" class="flex items-center justify-center">
    <div class="w-full max-w-[350px] p-4 text-center space-y-4">
      <header role="banner">
        <h1>
          {% render 'icon', name: 'logo' %}
          <span class="sr-only">{{ shop.name }}</span>
        </h1>
      </header>
    
      <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
    
      {%- unless shop.password_message == blank -%}
        <p>{{ shop.password_message }}</p>
      {%- endunless -%}
    
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="field">
          <label for="password">{{ 'general.password_page.login_form_heading' | t }}</label>
          <input 
            type="password" 
            name="password" 
            id="password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >
        </div>
        <button type="submit" name="commit" class="button button--primary">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      {% endform %}
    
      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    
      <footer>
        <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</small>
      </footer>
    <div>
  </main>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    "logo": "https:{{ section.settings.logo | image_url: width: section.settings.logo.width }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>